body {
    text-align: center;
    
}

header {
    background-color: black;
    margin-bottom: 15px;
}


img {
    margin: 15px;
}

footer {
    background-color: gray;
    height: 150px;
}


/* avpic{
    float: left;
} */

section button {
    border: none;
    background: white
    padding: 8px 30px;
    font-weight: 700;
  }
  section button:hover {
    background: black;
    transition-delay: 350ms;
  }
  
  .bottom{
      display: flex;
      width: 960px;
      align-items: center;
  }

  .lorem{
      width: 400px;
      height: 480px;
  }